body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.accept-button, .decline-button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.accept-button {
    background-color: #4caf50;
    color: #fff;
}

.decline-button {
    background-color: #f44336;
    color: #fff;
}

.persian {
    direction: rtl;
}

.main{
    padding: 10px;
}