{% extends 'base.html' %} {% block title %}Home Page{% endblock %}

{% block content %}
<section class="main">
    <a href="profile_1.html" class="plain-link">
        <div class="profile-card">
            <div class="profile-banner">
                <img alt="profile-banner" src="assets/banner1.jpeg" height="50px">
            </div>
            <div class="profile-image-container shift-top-3">
                <img class="profile-image" src="assets/profile1.jpeg" height="65px">
            </div>
            <div class="profile-name shift-top-3">حسین</div>
            <div class="profile-name2 shift-top-3">حسین محمدیان | طراح مرحله</div>
            <div class="profile-bio shift-top-2">در یک بازه‌ی بیشتر از ۲۰ سال، ما هر سال تصاویر کوتاهی از زندگی و ارتباط
                آن‌ها را دقیقا در همان روز ۱۵ ژوئیه، می‌بینیم تا از حال آن‌ها خبردار شویم. دکس و ام با دعوا و درگیری‌ها،
                امیدها و فرصت‌های از دست رفته، خنده و اشک روبه‌رو می‌شوند</div>
        </div>
    </a>
    <a href="profile_2.html" class="plain-link">
        <div class="profile-card" card-id="2">
            <div class="profile-banner">
                <img src="assets/banner2.jpeg" height="50px">
            </div>
            <div class="profile-image-container shift-top-3">
                <img class="profile-image" src="assets/profile2.jpeg" height="65px">
            </div>
            <div class="profile-name shift-top-3">محمد</div>
            <div class="profile-name2 shift-top-3">محمد روحیان | توسعه دهنده بازی</div>
            <div class="profile-bio shift-top-2">در یک بازه‌ی بیشتر از ۲۰ سال، ما هر سال تصاویر کوتاهی از زندگی و ارتباط
                آن‌ها را دقیقا در همان روز ۱۵ ژوئیه، می‌بینیم تا از حال آن‌ها خبردار شویم. دکس و ام با دعوا و درگیری‌ها،
                امیدها و فرصت‌های از دست رفته، خنده و اشک روبه‌رو می‌شوند</div>
        </div>
    </a>
    <a href="profile_3.html" class="plain-link">
        <div class="profile-card" card-id="3">
            <div class="profile-banner">
                <img src="assets/banner3.jpeg" height="50px">
            </div>
            <div class="profile-image-container shift-top-3">
                <img class="profile-image" src="assets/profile3.jpeg" height="65px">
            </div>
            <div class="profile-name shift-top-3">نگین</div>
            <div class="profile-name2 shift-top-3">نگین شفیعی | طراح بازی</div>
            <div class="profile-bio shift-top-2">در یک بازه‌ی بیشتر از ۲۰ سال، ما هر سال تصاویر کوتاهی از زندگی و ارتباط
                آن‌ها را دقیقا در همان روز ۱۵ ژوئیه، می‌بینیم تا از حال آن‌ها خبردار شویم. دکس و ام با دعوا و درگیری‌ها،
                امیدها و فرصت‌های از دست رفته، خنده و اشک روبه‌رو می‌شوند</div>
        </div>
    </a>
    <a href="profile_4.html" class="plain-link">
        <div class="profile-card" card-id="4">
            <div class="profile-banner">
                <img src="assets/banner4.jpeg" height="50px">
            </div>
            <div class="profile-image-container shift-top-3">
                <img class="profile-image" src="assets/profile4.jpeg" height="65px">
            </div>
            <div class="profile-name shift-top-3">طاها</div>
            <div class="profile-name2 shift-top-3">طاها رسولی | مدیر محصول</div>
            <div class="profile-bio shift-top-2">در یک بازه‌ی بیشتر از ۲۰ سال، ما هر سال تصاویر کوتاهی از زندگی و ارتباط
                آن‌ها را دقیقا در همان روز ۱۵ ژوئیه، می‌بینیم تا از حال آن‌ها خبردار شویم. دکس و ام با دعوا و درگیری‌ها،
                امیدها و فرصت‌های از دست رفته، خنده و اشک روبه‌رو می‌شوند</div>
        </div>
    </a>
    <a href="profile_5.html" class="plain-link">
        <div class="profile-card" card-id="5">
            <div class="profile-banner">
                <img src="assets/banner5.jpeg" height="50px">
            </div>
            <div class="profile-image-container shift-top-3">
                <img class="profile-image" src="assets/profile5.jpeg" height="65px">
            </div>
            <div class="profile-name shift-top-3">علیرضا</div>
            <div class="profile-name2 shift-top-3">علیرضااسدی | بازی ساز</div>
            <div class="profile-bio shift-top-2">در یک بازه‌ی بیشتر از ۲۰ سال، ما هر سال تصاویر کوتاهی از زندگی و ارتباط
                آن‌ها را دقیقا در همان روز ۱۵ ژوئیه، می‌بینیم تا از حال آن‌ها خبردار شویم. دکس و ام با دعوا و درگیری‌ها،
                امیدها و فرصت‌های از دست رفته، خنده و اشک روبه‌رو می‌شوند</div>
        </div>
    </a>
    <a href="profile_6.html" class="plain-link">
        <div class="profile-card" card-id="6">
            <div class="profile-banner">
                <img src="assets/banner6.jpeg" height="50px">
            </div>
            <div class="profile-image-container shift-top-3">
                <img class="profile-image" src="assets/profile6.jpeg" height="65px">
            </div>
            <div class="profile-name shift-top-3">مینا</div>
            <div class="profile-name2 shift-top-3">مینا محمودی | طراحی دوبعدی</div>
            <div class="profile-bio shift-top-2">در یک بازه‌ی بیشتر از ۲۰ سال، ما هر سال تصاویر کوتاهی از زندگی و ارتباط
                آن‌ها را دقیقا در همان روز ۱۵ ژوئیه، می‌بینیم تا از حال آن‌ها خبردار شویم. دکس و ام با دعوا و درگیری‌ها،
                امیدها و فرصت‌های از دست رفته، خنده و اشک روبه‌رو می‌شوند</div>
        </div>
    </a>
    <a href="profile_7.html" class="plain-link">
        <div class="profile-card" card-id="7">
            <div class="profile-banner">
                <img src="assets/banner7.jpeg" height="50px">
            </div>
            <div class="profile-image-container shift-top-3">
                <img class="profile-image" src="assets/profile7.jpeg" height="65px">
            </div>
            <div class="profile-name shift-top-3">امیر</div>
            <div class="profile-name2 shift-top-3">امیر عیدی | برنامه نویس یونیتی</div>
            <div class="profile-bio shift-top-2">در یک بازه‌ی بیشتر از ۲۰ سال، ما هر سال تصاویر کوتاهی از زندگی و ارتباط
                آن‌ها را دقیقا در همان روز ۱۵ ژوئیه، می‌بینیم تا از حال آن‌ها خبردار شویم. دکس و ام با دعوا و درگیری‌ها،
                امیدها و فرصت‌های از دست رفته، خنده و اشک روبه‌رو می‌شوند</div>
        </div>
    </a>
    <a href="profile_8.html" class="plain-link">
        <div class="profile-card" card-id="8">
            <div class="profile-banner">
                <img src="assets/banner8.jpeg" height="50px">
            </div>
            <div class="profile-image-container shift-top-3">
                <img class="profile-image" src="assets/profile8.jpeg" height="65px">
            </div>
            <div class="profile-name shift-top-3">فاضل</div>
            <div class="profile-name2 shift-top-3">فاضل مجیدفر | طراح بازی</div>
            <div class="profile-bio shift-top-2">جائی که او زندانی است، زندانی‌ها به جنون خواهند رسید، آن‌ها یکی پس از
                دیگری دچار تروماهای وحشتناکی می‌شوند و شروع به پرخاشگری می‌کنند. یکی‌شان با دستبند خودکشی می‌کند و دیگری
                رفتارهای نابهنجاری که منجر به درگیری با نیروهای ضدشورش زندان می‌شود از خود بروز می‌دهد.</div>
        </div>
    </a>
</section>

{% endblock %}